@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ===================================================================================== */
body {
  font-family: "Poppins";
  background-color: #1e252b;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #ffffffc7;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
  padding: 16px 28.5px 16px 28.5px;
}
/* ======================================== Page ======================================== */
.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__tools {
}
.page__brands {
}
.page__newcomer {
}
.page__contributor {
}
/* ================================================================================ */
/* ======================================== Header ======================================== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.header__logo {
  flex: 0 1 15%;
}
.header__menu {
}
.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__item {
}
.header__link {
  color: #ffffff8c;
}
.header__link:hover {
  text-decoration: underline;
}
.header__arrow {
}
.header__item_dropdown {
  position: relative;
  display: inline-block;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.header__dropdown-content a {
  color: #ffffff8c;
  font-size: 14px;
  margin-top: 12px;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}
.header__item_dropdown:hover .header__dropdown-content {
  display: block;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__login {
  color: #ffffffc7;
  font-size: 16px;
  font-weight: 600;
}
.header__login:hover {
  text-decoration: underline;
}
.header__button {
  text-align: center;
  transition: all 0.3s ease;
}
.header__button:hover {
  background-color: #ff5b15;
}
@media (max-width: 992.98px) {
  .header__list {
    gap: 15px;
  }
  .header__buttons {
    gap: 15px;
  }
  .header__arrow {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    display: none;
  }
  .header__burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}
@media (max-width: 420px) {
  .header__logo {
    flex: 0 0 38px;
    width: 38px;
    overflow: hidden;
  }
  .header__button {
    padding: 12px 20px 12px 20px;
  }
}
@media (max-width: 320px) {
  .header__burger-menu {
    width: 25px;
  }
}
/* ================================================================================ */
/* ======================================== Main ======================================== */
.main {
  position: relative;
}
.main__container {
  padding-top: 178px;
  display: flex;
  justify-content: space-between;
}
.main__body {
  flex: 0 1 50%;
  padding-bottom: 25px;
}
.main__title {
  color: #ffffffe6;
  font-size: 50px;
  line-height: 140%; /* 70px */
  max-width: 600px;
}
.main__title span {
  color: #ff6e30;
}
.main__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.main__text {
  color: #ffffff8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  max-width: 487px;
}
.main__text:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.main__search {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 497.659px;
  height: 64px;
}
.main__search:not(:last-child) {
  margin: 0px 0px 120px 0px;
}
.main__search-logo {
  position: absolute;
  left: 18px;
  z-index: 50;
  width: 24.08px;
  height: 24px;
}
.main__input {
  position: relative;
  border-radius: 15px;
  border: 1.5px solid #ffffff1a;
  background-color: #283036;
  padding: 22px 148px 22px 52px;
  width: 100%;
  height: 64px;

  color: #ffffff61;
  font-size: 14px;
  font-weight: 400;
}
.main__button {
  position: absolute;
  right: 11px;
  border-radius: 8px;
  background: #ff6e30;
  padding: 16px 45px;
  transition: all 0.3s ease;
}
.main__button:hover {
  background-color: #ff5b15;
}
.btn {
}
.main__icons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.main__icon {
}
.main__decor {
  display: flex;
  align-self: flex-end;
  flex: 0 1 50%;
  margin: 0px -150px 0px 0px;
}
.main__decor img {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1137.98px) {
  .main__body {
    flex: 0 0 60%;
  }
  .main__decor {
    flex: 0 0 40%;
    margin: 0px -15px 0px 0px;
  }
}
@media (max-width: 992.98px) {
  .main__container {
    padding-top: 130px;
  }
}
@media (max-width: 767.98px) {
  .main__container {
    padding-top: 100px;
  }
  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 675.98px) {
  .main__body {
    flex: 1 1 100%;
  }
  .main__decor {
    display: none;
  }
  .main__title {
    max-width: none;
  }
  .main__text {
    max-width: none;
  }
  .main__search {
    max-width: none;
  }
  .main__text:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
  .main__search:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 420.98px) {
  .main__container {
    padding-top: 80px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__text {
    font-size: 16px;
  }
  .main__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .main__search:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
/* ================================================================================ */
/* ======================================== Tools ======================================== */
.tools {
  padding-top: 100px;
}
.tools__container {
}
.tools__title {
  color: #ffffffe6;
  text-align: center;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
}
.tools__title:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.tools__text {
  color: #ffffff8c;
  text-align: center;
  font-size: 18px;
  line-height: 166.667%;
  max-width: 427px;
  margin: 0px auto;
}
.tools__items {
  margin: 70px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 20px;
  row-gap: 80px;
  margin: 0px 0px 100px 0px;
}
.tools__item {
  max-width: 392px;
  padding-bottom: 20px;
  padding: 53px 33px 20px 33px;
  border-radius: 15px;
  background-color: #1e252b;
  transition: all 0.3s ease;
}
.tools__item:hover {
  background-color: rgba(40, 48, 54, 0.6);
}
.item-tools {
}
.item-tools__row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px 0px 30px 0px;
}
.item-tools__icon {
  max-width: 100%;
}
.item-tools__icon img {
  max-width: 100%;
  object-fit: cover;
}
.item-tools__top {
}
.item-tools__title {
  font-size: 24px;
}
.item-tools__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-tools__price {
  color: #ffa5378c;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.tools__item:hover .item-tools__price {
  color: #ffa537;
}
.item-tools__text {
  color: #ffffff8c;
  font-weight: 400;
  line-height: 187.5%;
  margin: 0px 0px 37px 0px;
  max-width: 326px;
  transition: all 0.3s ease;
}
.tools__item:hover .item-tools__text {
  color: #ffffffc7;
}
.item-tools__bottom {
  display: flex;
  align-items: center;
  gap: 165px;
  justify-content: space-between;
}
.tools__item:hover .item-tools__bottom {
}
.item-tools__icons {
  display: flex;
  gap: 25px;
}
.item-tools__heart {
  flex: 0 0 29px;
}
.item-tools__folder {
  flex: 0 0 29px;
}
.item-tools__heart img {
  max-width: 100%;
  object-fit: cover;
}
.item-tools__folder img {
  max-width: 100%;
  object-fit: cover;
}
.item-tools__visit {
  border-radius: 8px;
  padding: 13px 36px;
  transition: all 0.3s ease;
}
.tools__item:hover .item-tools__visit {
  background-color: #ff6e30;
}
.tools__more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools__load {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  margin: 0px auto;
  font-size: 20px;
  color: #ff6e30;
  border: 1px solid #ffffff1a;
  background-color: #1e252b;
  padding: 17px 38px;
  transition: all 0.3s ease;
}
.tools__load:hover {
  color: #1e252b;
  background-color: #ff6e30;
}
@media (max-width: 1137.98px) {
  .tools__items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
  }
  .item-tools__text {
    max-width: none;
    text-align: center;
  }
  .tools__item {
    max-width: none;
  }
}
@media (max-width: 992.98px) {
  .tools {
    padding-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .tools__items {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    row-gap: 30px;
  }
  .item-tools__row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px 0px 30px 0px;
  }
  .tools {
    padding-top: 30px;
  }
}
@media (max-width: 420.98px) {
  .item-tools__row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px 0px 30px 0px;
  }
  .item-tools__bottom {
    gap: 100px;
  }
}
/* ================================================================================ */
/* ======================================== Brands ======================================== */
.brands {
  padding-top: 200px;
  padding-bottom: 200px;
}
.brands__container {
}
.brands__body {
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  padding: 61.5px 82px 61.5px 82px;
}
.brands__title {
  color: #ffffffcc;
  text-align: center;
  font-size: 24px;
  margin: 0px 0px 55px 0px;
}
.brands__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.brands__item {
}
.brands__item img {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 992.98px) {
  .brands {
    padding-top: 150px;
    padding-top: 150px;
  }
  .brands__items {
    flex-wrap: wrap;
    gap: 50px;
  }
  .brands__body {
    padding: 30px 30px 30px 30px;
  }
}
@media (max-width: 767.98px) {
  .brands {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .brands__title {
    font-size: 20px;
  }
}
@media (max-width: 420.98px) {
  .brands {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* ================================================================================ */
/* ======================================== Newcomer ======================================== */
.newcomer {
}
.newcomer__container {
}
.newcomer__row {
  display: flex;
  justify-content: space-between;
}
.newcomer__body {
  flex: 0 1 50.3%;
}
.newcomer__title {
  color: #ffffffe6;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
}
.newcomer__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.newcomer__text {
  color: #ffffff8c;
  font-size: 18px;
  line-height: 166.667%;
  max-width: 427px;
}
.newcomer__text:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.newcomer__button-block {
}
.newcomer__button {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff6e30;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  padding: 16.2px 40.2px;
  transition: all 0.3s ease;
}
.newcomer__button:hover {
  background-color: #ff5b15;
}
.newcomer__comlun {
  flex: 0 1 49.7%;
}
.newcomer__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.newcomer__item {
  max-width: 288px;
  padding-bottom: 20px;
  padding: 28px 33px 24px 33px;
  border-radius: 15px;
  background-color: #1e252b;
  transition: all 0.3s ease;
}
.newcomer__item:hover {
  background-color: rgba(40, 48, 54, 0.6);
}
.newcomer-tools {
}
.item-newcomer__row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px 0px 30px 0px;
}
.item-newcomer__icon {
  max-width: 100%;
}
.item-newcomer__icon img {
  max-width: 100%;
  object-fit: cover;
}
.item-newcomer__top {
}
.item-newcomer__title {
  font-size: 24px;
}
.item-newcomer__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-newcomer__price {
  color: #ffa5378c;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.newcomer__item:hover .item-newcomer__price {
  color: #ffa537;
}
.item-newcomer__text {
  color: #ffffff8c;
  font-weight: 400;
  line-height: 187.5%;
  margin: 0px 0px 37px 0px;
  max-width: 326px;
  transition: all 0.3s ease;
}
.newcomer__item:hover .item-newcomer__text {
  color: #ffffffc7;
}
.item-newcomer__bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.newcomer__item:hover .item-newcomer__bottom {
}
.item-newcomer__icons {
  display: flex;
  gap: 25px;
}
.item-newcomer__heart {
  flex: 0 0 29px;
}
.item-newcomer__folder {
  flex: 0 0 29px;
}
.item-newcomer__heart img {
  max-width: 100%;
  object-fit: cover;
}
.item-newcomer__folder img {
  max-width: 100%;
  object-fit: cover;
}
.item-newcomer__visit {
  border-radius: 8px;
  padding: 13px 36px;
  transition: all 0.3s ease;
}
.newcomer__item:hover .item-newcomer__visit {
  background-color: #ff6e30;
}
@media (max-width: 992.98px) {
  .newcomer__text {
    max-width: none;
    text-align: center;
  }
  .newcomer__title {
    text-align: center;
  }
  .newcomer__row {
    justify-content: center;
    flex-wrap: wrap;
  }
  .newcomer__body {
    flex: 1 1 auto;
    margin: 0px 0px 60px 0px;
  }
  .newcomer__button-block {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }
  .newcomer__items {
    gap: 50px;
  }
  .newcomer__item {
    max-width: none;
  }
  .item-newcomer__icons {
    gap: 15px;
  }
}
@media (max-width: 675.98px) {
  .newcomer__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .newcomer__column {
    flex: 1 1 100%;
  }
  .item-newcomer__text {
    max-width: none;
  }
}
@media (max-width: 420.98px) {
  .newcomer__title {
    font-size: 38px;
  }
}
/* ================================================================================ */
/* ======================================== Contribution ======================================== */
.contributor {
  padding-top: 200px;
  padding-bottom: 200px;
}
.contributor__container {
}
.contributor__title {
  color: #ffffffe6;
  text-align: center;
  font-size: 48px;
  line-height: 130%; /* 62.4px */
}
.contributor__title:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.contributor__text {
  color: #ffffff8c;
  text-align: center;
  font-size: 18px;
  line-height: 166.667%; /* 30px */
}
.contributor__text:not(:last-child) {
  margin: 0px 0px 100px 0px;
}
.contributor__search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  max-width: 549px;
  height: 64px;
  margin: 0px auto;
}
.contributor__input {
  position: relative;
  border-radius: 15px;
  border: 1.5px solid #ffffff1a;
  background-color: #283036;
  padding: 22px 165px 22px 24px;
  width: 100%;
  height: 64px;
  color: #ffffff61;
  font-size: 14px;
  font-weight: 400;
}
.contributor__button {
  position: absolute;
  right: 11px;
  border-radius: 8px;
  background: #ff6e30;
  padding: 12px 36.5px;
  transition: all 0.3s ease;
}
.contributor__button:hover {
  background-color: #ff5b15;
}
@media (max-width: 992.98px) {
  .contributor {
    padding-top: 150px;
    padding-top: 150px;
  }
}
@media (max-width: 767.98px) {
  .contributor {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 675.98px) {
  .contributor__title {
    font-size: 40px;
  }
}
@media (max-width: 420.98px) {
  .contributor {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contributor__text:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }
  .contributor__title {
    font-size: 32px;
  }
}
/* ================================================================================ */
/* ======================================== Footer ======================================== */
.footer {
  padding-top: 70px;
  padding-bottom: 90px;
  border-top: 0.5px solid #ffffff26;
}
.footer__container {
}
.footer__body {
  display: flex;
  gap: 156px;
}
.footer__copyrights {
  max-width: 260px;
}
.footer__logo {
}
.footer__logo:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.footer__title {
  color: #ffffffe6;
}
.footer__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.footer__text {
  color: #ffffff8c;
  font-size: 14px;
  font-weight: 400;
  line-height: 178.571%; /* 25px */
}
.footer__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 115px;
}
@media (min-width: 420.98px) {
  .footer__item {
    width: 196px;
  }
  .footer__item:nth-child(2) {
    width: 110px;
  }
  .footer__item:nth-child(3) {
    width: 145px;
  }
}
.item-footer {
}
.item-footer__title {
  color: #ffffffe6;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}
.item-footer__menu {
}
.item-footer__item {
  margin: 0px 0px 10px 0px;
}
.item-footer__link {
  display: inline-block;
  color: #ffffff8c;
}
.item-footer__link:hover {
  text-decoration: underline;
}
@media (max-width: 1137.98px) {
  .footer__body {
    gap: 50px;
  }
  .footer__row {
    column-gap: 80px;
  }
}
@media (max-width: 992.98px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__body {
    gap: 30px;
  }
}
@media (max-width: 880.98px) {
  .footer__body {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__copyrights {
    text-align: center;
  }
  .footer__copyrights {
    max-width: none;
  }
  .footer__row {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 767.987px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__row {
    gap: 30px;
  }
}
@media (max-width: 420px) {
  .footer__body {
    gap: 60px;
  }
  .footer__row {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ================================================================================ */
