@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ===================================================================================== */
body {
  font-family: "Poppins";
  background-color: #1e252b;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #ffffffc7;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
  padding: 16px 28.5px 16px 28.5px;
}
/* ======================================== Page ======================================== */
.page {
  flex: 1 1 auto;
}
.page__main {
}
/* ================================================================================ */
/* ======================================== Header ======================================== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 55;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.header__logo {
  flex: 0 1 15%;
}
.header__menu {
}
.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__item {
}
.header__link {
  color: #ffffff8c;
}
.header__link:hover {
  text-decoration: underline;
}
.header__arrow {
}
.header__item_dropdown {
  position: relative;
  display: inline-block;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.header__dropdown-content a {
  color: #ffffff8c;
  font-size: 14px;
  margin-top: 12px;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}
.header__item_dropdown:hover .header__dropdown-content {
  display: block;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__login {
  color: #ffffffc7;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__login:hover {
  text-decoration: underline;
}
.header__button {
  text-align: center;
  transition: all 0.3s ease;
}
.header__button:hover {
  background-color: #ff5b15;
}
@media (max-width: 992.98px) {
  .header__list {
    gap: 15px;
  }
  .header__buttons {
    gap: 15px;
  }
  .header__arrow {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    display: none;
  }
  .header__burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}
@media (max-width: 420px) {
  .header__logo {
    flex: 0 0 38px;
    width: 38px;
    overflow: hidden;
  }
  .header__button {
    padding: 12px 20px 12px 20px;
  }
}
@media (max-width: 320px) {
  .header__burger-menu {
    width: 25px;
  }
}
/* ================================================================================ */
/* ======================================== Main ======================================== */
.main {
  position: relative;
}
.main__container {
  padding-top: 178px;
  display: flex;
  justify-content: space-between;
}
.main__body {
  flex: 0 1 50%;
  padding-bottom: 25px;
}
.main__title {
  color: #ffffffe6;
  font-size: 50px;
  line-height: 140%; /* 70px */
  max-width: 600px;
}
.main__title span {
  color: #ff6e30;
}
.main__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.main__text {
  color: #ffffff8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  max-width: 487px;
}
.main__text:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.main__search {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 497.659px;
  height: 64px;
}
.main__search:not(:last-child) {
  margin: 0px 0px 120px 0px;
}
.main__search-logo {
  position: absolute;
  left: 18px;
  z-index: 50;
  width: 24.08px;
  height: 24px;
}
.main__input {
  position: relative;
  border-radius: 15px;
  border: 1.5px solid #ffffff1a;
  background-color: #283036;
  padding: 22px 148px 22px 52px;
  width: 100%;
  height: 64px;

  color: #ffffff61;
  font-size: 14px;
  font-weight: 400;
}
.main__button {
  position: absolute;
  right: 11px;
  border-radius: 8px;
  background: #ff6e30;
  padding: 16px 45px;
  transition: all 0.3s ease;
}
.main__button:hover {
  background-color: #ff5b15;
}
.btn {
}
.main__icons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.main__icon {
}
.main__decor {
  display: flex;
  align-self: flex-end;
  flex: 0 1 50%;
  margin: 0px -150px 0px 0px;
}
.main__decor img {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1137.98px) {
  .main__body {
    flex: 0 0 60%;
  }
  .main__decor {
    flex: 0 0 40%;
    margin: 0px -15px 0px 0px;
  }
}
@media (max-width: 992.98px) {
  .main__container {
    padding-top: 130px;
  }
}
@media (max-width: 767.98px) {
  .main__container {
    padding-top: 100px;
  }
  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 675.98px) {
  .main__body {
    flex: 1 1 100%;
  }
  .main__decor {
    display: none;
  }
  .main__title {
    max-width: none;
  }
  .main__text {
    max-width: none;
  }
  .main__search {
    max-width: none;
  }
  .main__text:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
  .main__search:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 420.98px) {
  .main__container {
    padding-top: 80px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__text {
    font-size: 16px;
  }
  .main__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .main__search:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
/* ================================================================================ */
